* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	user-select: none;
}
.container {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(31, 17, 63);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#left,
#right,
#center {
	width: 300px;
	min-height: 400px;
	margin-left: 60px;
	margin-right: 40px;
	border: 2px dashed #1a366f;
	border-top: 2px dashed rgb(185, 45, 45);
	border-left: 2px dashed rgb(185, 45, 45);
}
.list {
	background: #202f4b;
	height: 60px;
	margin: 30px;
	color: rgb(185, 45, 45);
	display: flex;
	align-items: center;
	cursor: grab;
	font-size: 20px;
	font-weight: bold;
	border: 0.2px solid;
}
.list img {
	width: 22px;
	margin-right: 15px;
	margin-left: 20px;
}
button {
	width: 110px;
	height: 40px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-top: 550px;
	margin-left: -260px;
	margin-bottom: 12px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: none;
	background-color: rgb(26, 51, 173);
}
